.bb1{
  display: grid;
  grid-template-columns: 100px 100px;
  
}

.ppt-1{
  font-size: 40px;
  background-color: pink;
}

.ppt-2{
  font-size: 40px;
  background-color: lightskyblue;
}
.bb2{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.ppt-3{
  font-size: 40px;
  background-color:lightcoral;
}


.bb3{
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 200px;
}
.ppt-4{
  height: 200px;
  font-size: 40px;
  background-color:lightcoral;
}
.ppt-5{
  height: 200px;
  font-size: 40px;
  background-color:lightcoral;
}
.ppt-6{
  height: 200px;
  font-size: 40px;
  background-color:red;
}
.ppt-7{
  font-size:
  height: 200px; 40px;
  background-color: #002f00;
}
.ppt-8{
  height: 200px;
  font-size: 40px;
  background-color:palegreen;
}
.ppt-9{
  height: 200px;
  font-size: 40px;
  background-color:blueviolet;
}
.ppt-10{
  height: 200px;
  font-size: 40px;
  background-color:brown;
}
.profile-pic{
 display: inline-block;
  
}