*{
  background-color:orange
};

a {
  text-decoration: none;
}

@media only screen and (max-width: 720px){
  body{
    background-color: bisque;
  }
}
#navbar{
  position: fixed;
  display: flex;
  justify-content:flex-end;
  width: 50%;
 
 top: 0px;
}